{% extends "base.html" %}
{% block content %}
<section class="leaderboard">
    <div class="container">
        {% if leaderboard_title %}
        <h1 class="h1 mb-3">{{ leaderboard_title }}</h1>
        {% else %}
        <h1 class="h1 mb-3">Vision AI Checkup</h1>
        {% endif %}
        {% if description %}
        <p>{{ description }}</p>
        {% else %}
        <p><em>See how 20+ vision-language models perform on dozens of real-world tasks.</em></p>
        {% endif %}
        <br>
            <label class="sr-only" for="model-select">Explore by task</label>
            <div class="select-wrap mb-3">
                <select id="model-select" class="select">
                    <option value="all">Best overall</option>
                    {% for task in tasks %}
                        <option value="{{ task.lower().replace(' ', '-') }}" {% if task == category %}selected{% endif %}>{{ task }}</option>
                    {% endfor %}
                </select>
            </div>

        <div class="mb-2 text-sm text-zinc-600">
            Run on {{ assessment_count }} prompts.
        </div>
        <style>
            #score-option, #time-option {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            svg {
                height: 1rem;
            }
        </style>
        <div role="table" class="w-full bg-white rounded-lg overflow-hidden overflow-x-auto shadow-sm text-sm mb-3">
            <div role="row" class="flex flex-nowrap min-w-[500px] gap-4 font-medium px-4 py-2 text-zinc-900">
                <div class="flex-1" style="align-content: center;">Model</div>
                <div class="w-14 text-center" id="score-option">Score <div class="score-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M205.66,149.66l-72,72a8,8,0,0,1-11.32,0l-72-72a8,8,0,0,1,11.32-11.32L120,196.69V40a8,8,0,0,1,16,0V196.69l58.34-58.35a8,8,0,0,1,11.32,11.32Z"></path></svg></div></div>
                <div class="w-32 text-center" title="Average Model Response Time per Prompt" id="time-option">Avg Time / Prompt <div class="time-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M205.66,149.66l-72,72a8,8,0,0,1-11.32,0l-72-72a8,8,0,0,1,11.32-11.32L120,196.69V40a8,8,0,0,1,16,0V196.69l58.34-58.35a8,8,0,0,1,11.32,11.32Z"></path></svg></div></div>
            </div>
            <div class="rows">
            {% for model in model_results %}
                <a role="row" class="model-row {% if loop.index > 10 %}hidden{% endif %}" href="/{{ model["model_name"].replace(' ', '-').lower().replace('.', '-') }}/">
                    <div class="flex flex-nowrap items-center flex-1 gap-1 whitespace-nowrap text-violet-700">#{{ model["position"] }} <img src="{{ model['logo'] }}" class="w-4 h-4"> {{ model["model_name"] }} {% if model["model_name"] in new_models %}<span class="new" style="color: white;padding-left: 0.5rem;padding-right: 0.5rem;background: rgb(109 40 217/var(--tw-text-opacity,1));border-radius: 0.875rem;margin-left: 0.25rem;font-size: 0.7rem;" id="model-{{ model['model_name'] }}-new">
                        New</span>{% endif %}</div>
                        <span id="model-{{ model['model_name'] }}-date" class="date"></span>
                        {% if model["model_name"] in new_models %}
                        <script>
                            // / show date on hover of new
                            document.getElementById('model-{{ model["model_name"] }}-new').addEventListener('mouseover', function() {
                                this.textContent = 'New since {{ model_dates[model["model_name"]].split("T")[0] }}';
                            });
                            document.getElementById('model-{{ model["model_name"] }}-new').addEventListener('mouseout', function() {
                                this.textContent = 'New';
                            });
                        </script>
                        {% endif %}
                    <div class="w-14 text-center score">{{ model["percentage"] }}%</div>
                    <div class="w-32 text-center time">
                        {% if not category %}
                        {{ model["average_time"] }}
                        {% endif %}
                    </div>
                </a>
            {% endfor %}
            </div>
        </div>

        <button id="toggle-more-btn" type="button" class="link">
            Show more models
        </button>
    </div>
</section>

<section>
    <div class="container">
        <h2 class="h2 mb-1">Explore Prompts</h2>
        <div class="text-zinc-600">Explore the prompts we run as part of the Vision AI Checkup.</div>
        <div class="text-sm text-zinc-600 mb-3">(p.s.: you can <a href="https://github.com/roboflow/vision-ai-checkup/issues/new?template=prompt.yml">add your own too</a>!)</div>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mb-3">
            {% for assessment in assessments[:6] %}
                <a class="card-prompt" href="/assessments/{{ assessment['slug'] }}/">
                    <div>{{ assessment["prompt"] }}</div>
                    <div class="aspect-square overflow-hidden">
                        <img
                            class="w-full h-full object-cover"
                            src="/images/compressed/{{ assessment['file_name'].replace(".png", ".jpeg") }}"
                            alt="{{ assessment['assessment_name'] }}"
                        >
                    </div>
                </a>
            {% endfor %}
        </div>
        <a class="link" href="/prompts/">
            Explore all {{ assessment_count }} prompts →
        </a>
    </div>
</section>
                <script>
                    // if score clicked, order by score
                    var arrowDown = `<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M205.66,149.66l-72,72a8,8,0,0,1-11.32,0l-72-72a8,8,0,0,1,11.32-11.32L120,196.69V40a8,8,0,0,1,16,0V196.69l58.34-58.35a8,8,0,0,1,11.32,11.32Z"></path></svg>`;
                    var arrowUp = `<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M205.66,117.66a8,8,0,0,1-11.32,0L136,59.31V216a8,8,0,0,1-16,0V59.31L61.66,117.66a8,8,0,0,1-11.32-11.32l72-72a8,8,0,0,1,11.32,0l72,72A8,8,0,0,1,205.66,117.66Z"></path></svg>`;
                    function sortBy (field, order) {
                        var f = document.getElementById(field);
                        var allScores = document.getElementsByClassName("score");
                        console.log(allScores)
                        var allScoreParentRows = allScores.length > 0 ? Array.from(allScores).map(function(score) {
                            return score.parentElement;
                        }) : [];
                        console.log(allScoreParentRows)
                        // sort by score
                        // add data-score attribute to each row
                        allScoreParentRows.forEach(function(row) {
                            var score = row.querySelector(".score");
                            if (score) {
                                row.setAttribute("data-score-option", score.textContent.replace('%', ''));
                            }
                            var time = row.querySelector(".time");
                            if (time) {
                                row.setAttribute("data-time-option", time.textContent);
                            }
                        });
                        allScoreParentRows.sort(function(a, b) {
                            var scoreA = parseFloat(a.getAttribute("data-" +  field) || 0);
                            var scoreB = parseFloat(b.getAttribute("data-" +  field) || 0);
                            if (order === "asc") { 
                                return scoreA - scoreB;
                            } else {
                                return scoreB - scoreA;
                            }
                        });
                        var table = document.querySelector(".rows");
                        table.innerHTML = ""; // clear the table
                        console.log(allScoreParentRows, "x")
                        allScoreParentRows.forEach(function(row) {
                            table.appendChild(row);
                        });
                        // update the order attribute and aria-label
                        // var order = f.getAttribute("data-order") || "desc";
                        if (order === "asc") {
                            allScoreParentRows.reverse();
                        }
                        console.log("Sorted by " + field + " in " + order + " order");
                        // change arrow
                        var arrow = order === "asc" ? arrowUp : arrowDown;
                        f.querySelector(".score-arrow, .time-arrow").innerHTML = arrow;


                        f.setAttribute("data-order", order === "asc" ? "desc" : "asc");
                        f.setAttribute("aria-label", "Sort by " + field + " in " + (order === "asc" ? "descending" : "ascending") + " order");
                        f.classList.toggle("desc", order === "desc");
                        f.classList.toggle("asc", order === "asc");
                    }
                    document.getElementById("score-option").addEventListener("click", function() {
                        var order = this.getAttribute("data-order") || "asc";
                        sortBy("score-option", order);
                        console.log("test");
                    });
                    document.getElementById("time-option").addEventListener("click", function() {
                        var order = this.getAttribute("data-order") || "asc";
                        console.log(order, "x")
                        sortBy("time-option", order);
                    });
                </script>
<section>
    <div class="container">
        <h2 class="h2 mb-3" id="about">About Vision AI Checkup</h2>
        <div class="card">
            <div class="rich-text">
                <p>Vision AI Checkup measures how well new multimodal models perform at real world use cases.</p>
                <p>Our assessment consists of dozens of images, questions, and answers that we benchmark against models. We run the checkup every time we add a new model to the leaderboard.</p>
                <p>You can use the Vision AI checkup to gauge how well a model does generally, without having to understand a complex benchmark with thousands of data points.</p>
                <p>The assessment and models are constantly evolving. This means that as more tasks get added or models receive updates, we can build a clearer picture of the current state-of-the-art models in real-time.</p>
                <p><a href="https://github.com/roboflow/vision-ai-checkup">All of our assessment code is open source</a>.</p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <h2 class="h2 mb-3">Contribute a Prompt</h2>
        <div class="flex items-center gap-2 card">
            <img class="w-6 h-6" src="/images/svg/lightbulb.svg" alt="Lightbulb">
            <div class="rich-text">Have an idea for a prompt? <a href="https://github.com/roboflow/vision-ai-checkup/issues/new?template=prompt.yml">Submit it to the project repository on GitHub!</a></div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
    <script>
        // on change of form, redirect to /task/task-name (all lower)
        document.querySelector('#model-select').addEventListener('change', function() {
            const task = this.value;
            if (task === 'all') {
                window.location.href = './';
            } else {
                window.location.href = `./${task.toLowerCase().replace(/\\s+/g, '_')}.html`;
            }
        });
        const btn = document.getElementById('toggle-more-btn');
        if (btn) {
            btn.onclick = function toggleMore() {
                const hiddenRows = document.querySelectorAll('.model-row.hidden');
                const extraRows = document.querySelectorAll('.model-row:not(:nth-child(-n+11))');
                const isHidden = hiddenRows.length > 0;

                extraRows.forEach(row => row.classList.toggle('hidden', !isHidden));
                btn.textContent = isHidden ? 'Show fewer models' : 'Show more models';
            };
        }
    </script>
{% endblock %}